<table id="sudoku_table">
    {% if sudoku is defined %}
        <!-- Filled Sudoku Table -->
        {% for row in sudoku.grid.values() %}
            <tr>
                {% for value in row %}
                    <td style='text-align: center'>{{ value | hide_if_empty }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <!-- Empty Sudoku Table -->
        {% for letter in 'ABCDEFGHI' %}
            <tr>
                {% for number in range(9) %}
                    <td><input type="number" min="1" max="9" name="cell_{{ letter }}{{ number }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
</table>