{% extends "layout.html" %}

{% block main %}
    <div class="row">
        <div class="col-md-4 offset-md-1 center_vertically">
            <p class="text">{{ message }}</p>
        </div>
        <div class="col-md-5">
            <form method="POST" action="sudoku_solver">
                <div class="form-group">
                    {% include "sudoku_table.html" %}
                </div>
                <div class="center_horizontally">
                    <button class="btn btn-primary btn-lg">حل السودوكو</button>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}