<table id="sudoku_table">
    {% if sudoku_values is defined %}
        <!-- Filled Sudoku Values-->
        {% for cell_value in sudoku_values %}
            {% if loop.index0 % 9 == 0 %}
                <tr>
            {% endif %}
                    <td>{{ cell_value }}</td>
            {% if loop.index0 % 9 == 0 %}
                </tr>
            {% endif %}
        {% endfor %}
    {% else %}
        <!-- Empty Sudoku Table -->
        {% for i in range(9) %}
            <tr>
                {% for j in range(9) %}
                    <td><input type="number" min="1" max="9" name="cell_{{i}}_{{j}}"></td>
                    <!-- <td>{{ j }}</td> -->
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
</table>